@use "styles/utils/variables";

.wrapper {
  padding-top: variables.$spacing-xl;
  padding-bottom: variables.$spacing-xl;
}

.container {
  display: flex;
  align-items: center;
}

.logo,
.buttons {
  flex-basis: 25%;
}

.links {
  flex-basis: 50%;
}
