@use "styles/utils/variables";
@use "styles/utils/functions";

.icon {
  display: inline-flex;
  width: functions.to-rem(variables.$spacing-xl);
  height: functions.to-rem(variables.$spacing-xl);

  svg {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
}
