@use "styles/utils/variables";
@use "styles/utils/functions";
@use "styles/utils/mixins";

$heading: h;
$description: d;
$image: i;

.wrapper {
  display: grid;
  grid-gap: functions.to-rem(variables.$spacing-xl)
    functions.to-rem(variables.$spacing-2xl);
  grid-template-rows: auto 1fr 1fr;
  grid-template-columns: repeat(4, 1fr);

  @include mixins.media-max("md") {
    @include mixins.flex-column;
  }

  &.ltr {
    grid-template-areas: "#{$heading} #{$heading} #{$image} #{$image}""#{$description} #{$description} #{$image} #{$image}""#{$description} #{$description} #{$image} #{$image}";
  }

  &.rtl {
    grid-template-areas: "#{$image} #{$image} #{$heading} #{$heading}""#{$image} #{$image} #{$description} #{$description}""#{$image} #{$image} #{$description} #{$description}";
  }

  &.vertical {
    grid-template-areas: "#{$heading}""#{$description}""#{$image}";
    grid-template-rows: auto;
    /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
    grid-template-columns: 1fr;
    place-items: center;
  }
}

.heading {
  grid-area: $heading;
}

.description {
  display: flex;
  flex-direction: column;
  grid-area: $description;
}

.paragraph {
  line-height: 1.5;
}

.imageWrapper {
  display: flex;
  grid-area: $image;
  justify-content: center;
}

.image {
  max-width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: variables.$shadow-image;
}
