@use "styles/utils/mixins";
@use "styles/utils/variables";
@use "styles/utils/functions";

.main {
  @include mixins.flex-column;

  flex: 1;
  padding-top: calc(var(--header-height) * 100);
}

.footer {
  margin-top: functions.to-rem(variables.$spacing-3xl * 3);

  @include mixins.media-max("md") {
    margin-top: functions.to-rem(variables.$spacing-3xl);
  }
}
