@use "styles/utils/variables";
@use "styles/utils/mixins";
@use "styles/utils/functions";
@use "styles/utils/colors";
@use "sass:color";

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  width: 100%;
  padding-top: functions.to-rem(variables.$spacing-sm);
  padding-bottom: functions.to-rem(variables.$spacing-sm);
  background: color.adjust(colors.$bg-default, $alpha: -0.2);
  backdrop-filter: blur(12px);

  &.transparent {
    background: transparent;
    backdrop-filter: none;
    transition: background-color 0.4s ease;
  }

  &.open {
    background: transparent;
    backdrop-filter: none;
    transition-delay: 0.2s;
    pointer-events: none;
  }
}

.container {
  display: flex;
  gap: functions.to-rem(variables.$spacing-2xl);
  align-items: center;

  @include mixins.media-max("md") {
    justify-content: space-between;
  }
}

.logo,
.buttons {
  flex-basis: 25%;
}

.buttons {
  white-space: nowrap;
  @include mixins.media-max("md") {
    order: 2;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s linear, visibility 0.2s linear;
  }

  .open & {
    visibility: hidden;
    opacity: 0;
  }
}

.logo {
  @include mixins.media-max("md") {
    display: none;
  }
}

.links {
  flex-basis: 50%;
  white-space: nowrap;

  @include mixins.media-max("md") {
    display: none;
  }
}

.burger {
  display: none;

  @include mixins.media-max("md") {
    position: relative;
    z-index: 11;
    display: block;
    order: 1;
    pointer-events: auto;
  }
}

.menu {
  @include mixins.media-min("md") {
    display: none;
  }
}
