@use "styles/utils/variables";
@use "styles/utils/mixins";
@use "styles/utils/functions";

.wrapper {
  padding-top: functions.to-rem(variables.$spacing-xl);
  padding-bottom: functions.to-rem(variables.$spacing-xl);
}

.container {
  display: flex;
  align-items: center;
}

.logo,
.buttons {
  flex-basis: 25%;
}

.links {
  flex-basis: 50%;
}
