@use "styles/utils/colors";
@use "styles/utils/variables";
@use "styles/utils/functions";
@use "styles/utils/mixins";

.page {
  position: static;
}

.head {
  &::after {
    display: block;
    margin-top: functions.to-rem(variables.$spacing-3xl * 1.25);
    margin-bottom: functions.to-rem(variables.$spacing-3xl * 1.25);
    border-bottom: 1px solid colors.$white;
    content: "";
  }
}

.heading {
  margin-top: functions.to-rem(variables.$spacing-3xl * 2);
  margin-bottom: functions.to-rem(variables.$spacing-3xl);
}

.footer {
  margin-top: functions.to-rem(variables.$spacing-3xl * 2);

  @include mixins.media-max("sm") {
    margin-top: functions.to-rem(variables.$spacing-3xl);
  }
}
