@use "styles/utils/functions";
@use "styles/utils/variables";

.container {
  width: 100%;
  max-width: functions.get-container-width(
    functions.to-rem(variables.$container-width-lg)
  );
  margin-right: auto;
  margin-left: auto;
  padding-right: functions.to-rem(variables.$container-spacing);
  padding-left: functions.to-rem(variables.$container-spacing);
}
