@use "styles/utils/variables";
@use "styles/utils/functions";
@use "styles/utils/mixins";

.head {
  display: flex;
  flex-direction: column;
  padding-top: functions.to-rem(variables.$spacing-3xl * 2);

  @include mixins.media-max("lg") {
    padding-top: functions.to-rem(variables.$spacing-3xl);
  }

  @include mixins.media-max("md") {
    padding-top: functions.to-rem(variables.$spacing-lg);
  }
}

.title {
  margin-bottom: functions.to-rem(variables.$spacing-2xl);
  text-align: center;

  &::after {
    align-self: center;
  }
}

.image {
  align-self: center;
  width: 90%;
  max-width: functions.to-rem(800px);
  height: auto;
  margin-bottom: functions.to-rem(variables.$spacing-2xl);
  border-radius: 8px;
  box-shadow: variables.$shadow-image;
}

.description {
  line-height: 1.5;

  & + & {
    margin-top: functions.to-rem(variables.$spacing-sm);
  }
}

.stack {
  margin-top: functions.to-rem(variables.$spacing-lg);
  margin-bottom: functions.to-rem(variables.$spacing-lg);
}
