@use "styles/utils/functions";
@use "styles/utils/colors";
@use "styles/utils/variables";
@use "styles/utils/mixins";
@use "sass:map";

.text {
  color: inherit;

  &.accent {
    color: colors.$green-600;
  }
}

@each $variant, $size in variables.$font-sizes {
  .size-#{$variant} {
    font-size: functions.to-rem($size);

    $media-sizes: map.get(variables.$font-sizes-responsive, $variant);
    @if $media-sizes {
      @each $breakpoint, $size in $media-sizes {
        @include mixins.media-max($breakpoint) {
          font-size: functions.to-rem($size);
        }
      }
    }
  }
}

$weights: (400, 500, 600, 700, 800, 900);

@each $weight in $weights {
  .weight-#{$weight} {
    font-weight: $weight;
  }
}
