@use "styles/utils/variables";
@use "styles/utils/functions";
@use "styles/utils/mixins";

.wrapper {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: functions.to-rem(variables.$spacing-sm);

  @include mixins.media-max("sm") {
    margin-right: 0;
  }
}

.iconWrapper {
  display: flex;
}

.text {
  @include mixins.media-max("sm") {
    display: none;
  }
}
