@use "styles/utils/variables";
@use "styles/utils/functions";

@use "styles/utils/colors";

.list {
  line-height: 1.55;
  list-style: initial;
}

.item {
  margin-left: functions.to-rem(variables.$spacing-md);

  &::marker {
    color: colors.$green-500;
  }
}
