@use "styles/utils/functions";
@use "styles/utils/variables";
@use "styles/utils/mixins";

$bottom-spacing: variables.$spacing-3xl * 2;

.hero {
  @include mixins.flex-column;
}

.container {
  @include mixins.flex-column;

  position: relative;
  flex: 1;
}

.text {
  flex: 1;
}

.socials {
  margin-top: variables.$spacing-lg;
  margin-bottom: $bottom-spacing;
}

.image {
  &#{&} {
    position: absolute;
  }

  right: functions.to-rem(-90px);
  bottom: 50%;
  transform: translateY(50%);
}
