@use "styles/utils/variables";
@use "styles/utils/functions";
@use "styles/utils/colors";

.socials {
  display: flex;
  gap: functions.to-rem(variables.$spacing-3xl);
  align-items: center;

  &::before {
    display: block;
    width: functions.to-rem(100px);
    border-top: 1px solid colors.$white;
    content: "";
  }
}
