@use "styles/utils/variables";
@use "styles/utils/mixins";

.card {
  @include mixins.flex-column;
}

.image {
  width: 100%;
  object-fit: cover;
  border-radius: variables.$border-radius;
}

.heading,
.image {
  margin-bottom: variables.$spacing-md;
}

.description {
  line-height: 1.5;
}

.links {
  margin-top: variables.$spacing-md;
}
