$white: #fff;
$bg-default: #002029;
$text-default: $white;

/* Neutral */
$neutral-400: #ced4da;

/* Dark */
$dark-100: #436872;
$dark-200: #37616d;
$dark-300: #2c5c69;
$dark-400: #215867;
$dark-500: #165465;
$dark-600: #00607a;
$dark-700: #005066;
$dark-800: #004052;
$dark-900: #00303d;
$dark-1000: #002029;

/* Green */
$green-100: #8cc0ae;
$green-200: #71bda3;
$green-300: #54be9b;
$green-400: #36c394;
$green-500: #21c18c;
$green-600: #0cc285;
$green-700: #1b9e72;
$green-800: #088259;
$green-900: #04422e;
$green-1000: #033625;
