/* Spacing */
$spacing-step: 4px;
$spacing-xs: $spacing-step * 2;
$spacing-sm: $spacing-step * 3;
$spacing-md: $spacing-step * 4;
$spacing-lg: $spacing-step * 5;
$spacing-xl: $spacing-step * 6;
$spacing-2xl: $spacing-step * 8;
$spacing-3xl: $spacing-step * 10;
$header-height: 0.61px;

/* Font sizes */
$font-size-2xs: 12px;
$font-size-xs: 14px;
$font-size-sm: 16px;
$font-size-md: 18px;
$font-size-lg: 24px;
$font-size-2lg: 28px;
$font-size-3lg: 32px;
$font-size-xl: 40px;
$font-size-2xl: 48px;
$font-size-3xl: 60px;
$font-sizes: (
  "2xs": $font-size-2xs,
  "xs": $font-size-xs,
  "sm": $font-size-sm,
  "md": $font-size-md,
  "lg": $font-size-lg,
  "xl": $font-size-xl,
  "2xl": $font-size-2xl,
  "3xl": $font-size-3xl,
);
$font-sizes-responsive: (
  "2xl": (
    xl: $font-size-xl,
    md: $font-size-3lg,
  ),
  "3xl": (
    xl: $font-size-2xl,
    md: $font-size-xl,
  ),
  "xl": (
    xl: $font-size-3lg,
    md: $font-size-lg,
  ),
);

/* Container */
$container-width-lg: 1120px;
$container-width-md: 800px;
$container-width-xs: 560px;
$container-spacing: $spacing-md;

/* Radius */
$border-radius: 8px;
$shadow-image: 0 8px 10px -6px rgb(3 54 37 / 25%),
  0 20px 25px -5px rgb(3 54 37 / 25%);
