@use "styles/utils/variables";
@use "styles/utils/colors";
@use "styles/utils/functions";
@use "sass:color";

.icon {
  flex: 1;
  width: 62.5%;
  margin-bottom: functions.to-rem(variables.$spacing-xs);
  color: var(--icon-color, inherit);
  transition-duration: 0.3s;
  transition-property: color, transform;

  path {
    transition-duration: 0.3s;
    transition-property: fill;
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: colors.$white;
  background-color: color.adjust(colors.$white, $alpha: -0.98);
  border-radius: variables.$border-radius;
  transition-duration: 0.3s;
  transition-property: background-color;

  &:hover,
  &:active,
  &:focus,
  &.active {
    background-color: color.adjust(colors.$white, $alpha: -0.9);

    .icon {
      --icon-color: var(--icon-hover-color);
      --icon-color-1: var(--icon-hover-color-1);
      --icon-color-2: var(--icon-hover-color-2);

      transform: scale(1.05);
    }
  }
}

.label {
  line-height: 1;
  text-transform: uppercase;
}
