@use "styles/utils/variables";
@use "styles/utils/colors";
@use "styles/utils/mixins";
@use "styles/utils/functions";

$circle-size: functions.to-rem(variables.$spacing-xl);
$spacing-sm: functions.to-rem(variables.$spacing-sm);
$circle-size-with-spacing-sm: $circle-size + $spacing-sm;

.item {
  display: flex;

  @include mixins.media-max("sm") {
    position: relative;
    flex-wrap: wrap;
  }

  /* Circle */
  &::before {
    flex: 1 0 $circle-size;
    order: 2;
    width: $circle-size;
    height: $circle-size;
    margin-left: functions.to-rem(variables.$spacing-lg);
    background: linear-gradient(90deg, #088259 0%, #0cc285 100%);
    border-radius: 50%;
    box-shadow: 0 0 22px 2px rgb(8 130 89 / 60%);

    @include mixins.media-max("sm") {
      flex-grow: 0;
      order: 1;
      margin-right: $spacing-sm;
      margin-left: 0;
    }
  }

  /* Bar */
  &::after {
    order: 3;
    width: 0;
    min-width: 0;
    margin-bottom: $circle-size + functions.to-rem(variables.$spacing-sm);
    border-right: 2px solid colors.$white;
    transform: translateX(calc(-#{$circle-size / 2} - 50%))
      translateY(#{$circle-size + functions.to-rem(variables.$spacing-sm)});

    @include mixins.media-max("sm") {
      $margin-top: $circle-size-with-spacing-sm +
        functions.to-rem(variables.$spacing-step);

      position: absolute;
      top: $margin-top;
      left: $circle-size / 2;
      height: calc(100% - #{$margin-top});
      margin-bottom: 0;
      transform: translateX(-50%);
    }
  }

  &::before,
  &::after {
    display: block;
    content: "";
  }
}

.label {
  position: relative;
  display: inline-flex;
  align-items: center;
  align-self: flex-start;
  order: 1;
  max-width: functions.to-rem(68px);
  padding-right: functions.to-rem(variables.$spacing-md);
  padding-left: functions.to-rem(variables.$spacing-md);
  line-height: 1.5;
  letter-spacing: 0.4px;
  text-transform: uppercase;

  @include mixins.media-max("sm") {
    order: 3;
  }
}

.arrow {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  min-height: 100%;
  color: colors.$dark-600;

  @include mixins.media-max("sm") {
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }
}

.body {
  order: 4;
  margin-left: functions.to-rem(variables.$spacing-sm);
  padding-bottom: functions.to-rem(variables.$spacing-xs);

  @include mixins.media-max("sm") {
    flex: 1 1 100%;
    margin-top: $spacing-sm;
    margin-left: $circle-size-with-spacing-sm;
  }
}

.title {
  margin-bottom: functions.to-rem(variables.$spacing-step);
  line-height: 1.33;
}

.period {
  display: inline-block;
  margin-bottom: functions.to-rem(variables.$spacing-sm);
  text-transform: uppercase;
}

.description {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
}
