@use "styles/utils/functions";
@use "styles/utils/variables";
@use "styles/utils/mixins";

$bottom-spacing: variables.$spacing-3xl * 2;

.hero {
  @include mixins.flex-column;
}

.container {
  @include mixins.flex-column;

  position: relative;
  flex: 1;

  @include mixins.media-max("sm") {
    justify-content: space-between;
  }
}

.text {
  flex: 1;

  @include mixins.media-max("sm") {
    flex: 0 1 auto;
  }
}

.socials {
  margin-top: functions.to-rem(variables.$spacing-lg);
  margin-bottom: functions.to-rem($bottom-spacing);

  @include mixins.media-max("md") {
    margin-bottom: functions.to-rem($bottom-spacing / 4);
  }
}

.image {
  &#{&} {
    position: absolute;

    @include mixins.media-max("lg") {
      position: static;
      align-self: center;
      margin-top: functions.to-rem(variables.$spacing-3xl);
      margin-bottom: functions.to-rem(variables.$spacing-3xl);
      transform: translateX(4%);
    }

    @include mixins.media-max("md") {
      width: max-content;
      transform: none;
    }
  }

  right: functions.to-rem(-90px);
  bottom: 50%;
  transform: translateY(50%);
}
