@use "styles/utils/variables";
@use "styles/utils/mixins";
@use "styles/utils/functions";

.links {
  display: flex;
  gap: functions.to-rem(variables.$spacing-md);
}

.link {
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
