@use "styles/utils/variables";
@use "styles/utils/functions";

.heading {
  margin-bottom: functions.to-rem(variables.$spacing-xl);
}

.paragraph {
  & + & {
    margin-top: functions.to-rem(variables.$spacing-xl);
  }

  line-height: 1.5;
}
