@use "~modern-normalize" as normalize;
@use "styles/utils/mixins";
@use "styles/utils/colors";
@use "styles/animations";

html,
body {
  @include mixins.flex-column;
}

html {
  min-height: 100%;
  overflow-x: hidden;
  font-size: 100%;
}

body {
  position: relative;
  flex: 1;
  overflow-x: hidden;
  color: colors.$text-default;
  font-size: 1rem;
  background-color: colors.$bg-default;
}

/* stylelint-disable selector-id-pattern */

#__next {
  @include mixins.flex-column;

  flex: 1;
}

/* stylelint-enable selector-id-pattern */

/* ul reset */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
