@use "~modern-normalize" as normalize;
@use "styles/utils/mixins";
@use "styles/utils/colors";

html,
body {
  @include mixins.flex-column;
}

html {
  height: 100%;
  overflow-x: hidden;
}

body {
  position: relative;
  flex: 1;
  overflow-x: hidden;
  color: colors.$text-default;
  background-color: colors.$bg-default;
}

/* stylelint-disable selector-id-pattern */

#__next {
  @include mixins.flex-column;

  flex: 1;
}

/* stylelint-enable selector-id-pattern */

/* ul reset */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
